


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #fdfd85;
    
}

.container{
    background-color: #fff;
    width: 90vmin;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    box-shadow: 0 10px 7px 3px rgba(36, 38, 38, 0.1);

}

.search-box{
    border-radius : 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    width: 70%;
    padding: 13px;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-bottom: 1px solid #ffff05;
}

.search-box button{
    padding: 10px;
    outline: none;
    border: none;
    background-color: #3d3d02;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    width: 24%;
    cursor: pointer;
}

.result{
    margin-top: 46px;
}
.word{
    display: flex;
    justify-content: space-between;   
}
.word h4{
    font-size: 20px;
    font-weight: 600;
   
}
.word button{
    border: 0;
    outline: none;
    border-radius: 50%;
    background-color: #fdfdd2;
    font-size: 15px;
    cursor: pointer;
    height: 40px;
    width: 40px;

}

.details{
    display: flex;
    gap: 8px;
    font-size: 13px;
    color: rgb(148, 148, 148);
    font-weight: 500;
    padding-bottom: 10px;
}

.meaning, .example{
    font-size: 14px;
    font-family: 500;
    color: #262700;
    margin-top: 13px;
}

.example{
  
    border-left: 5px solid #3d3d02;
    padding-left: 15px;
    font-style: italic;
}




@media screen and (max-width : 750px)
{
    
    .search-box{
        flex-direction: column;
        gap: 20px;
    }
    .container {
         padding: 40px;
        
    }
}


@media screen and (max-width : 580px)
{
    
    .search-box{
        flex-direction: column;
        gap: 20px;
    }
    .container {
         padding: 40px;
     
    }
    .search-box input {
        width: 90%;
        font-size: 15px;
    }
    .search-box button {
       
        width: 35%;
        padding: 10px 5px;
        font-size: 13px;
      
    }


}

@media screen and (max-width : 330px)
{
    .word{
        flex-direction: column;
       align-items: center;
       gap: 10px;
    }
    .details {
       
        font-size: 11px;
        padding-top: 10px;
        justify-content: center;
    }
    .meaning, .example {
        font-size: 12px;
      
    }
    .word h4 {
        font-size: 17px;
       
    }
    .word button {
        
        font-size: 13px;
       
        height: 30px;
        width: 30px;
    }
    .result {
        margin-top: 15px;
    }
}